body{
    background-image: url(caf05xe1txnd1.jpeg);
    background-size: cover;
   
}

().left-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.image{
    
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10%);
}    


.right-container{
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 40px;
}

a{
    font-size: xx-large;
    display: block;
    border: 3px solid goldenrod;
    height: 723px;
    
    margin-bottom: 0%;
    border-radius: 2%;¨
    text-decoration: none;

}

.box-1{
transform: translate(-1px);
width:10%;

}

.box-2{
transform: translate(1px);
width:9% ;
}

.box-3{
    transform: translate(1px);
    width:9.5% ;
}

.box-4{
    transform: translate(1px);
    width: 9.5%;
}

.box-5{
    transform: translate(1px);
    width: 9.5%;
}

.box-6{
    transform: translate(1px);
    width:9.5% ;
}

.box-7{
    transform: translate(1px);
    width: 10.5%;
}

.box-8{
    transform: translate(5px);
    width: 10.5%;
}

