body {
    background-image:url(Frame8.png);
    background-size: cover  ;
}

.header7 {
    display: flex;
    width:40%;
    height: 50px;
    background-color:whitesmoke;
    border-radius:1%;
    color: white;
    align-items: center;
  justify-content: space-between;
  margin-left: 60vh;
}


.box7 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 6 vh;
    padding-right: 45px;
}


a{
    color: aliceblue;
    font-size: xx-large;
    text-decoration: none;
    border: 3px solid purple;
    width: 69px;
    padding-left: 6px;
    border-radius: 5%;
}

.left-container7{
    background-color: bisque;
    width: 50vh;
    height: 60vh;
    margin-top: 20vh;
    margin-left:20vh ;
    border-radius: 10%;
    
}